body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: '100vw';
  overflow-x: hidden;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}

.custom-input::placeholder {
  color: #4675A5; /* desired placeholder text color */
}